@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0 auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-start-rgb));

  background-image: url(../public/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;

  display: flex;
  flex-direction: column;

  .wallet-button {
    background-color: #212429;
  };

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .notification::-webkit-scrollbar {
    display: none;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
